/********************
YOUR STYLES
*******************/
h1{
  color: goldenrod;
  text-align: center;
  font-size: 6em;
  text-transform: uppercase;
}

.char1{
  color: turquoise;
}

.char2{
  color: darkGray;
  letter-spacing: -4px;
}