$pri-color: #000;
$sec-color: #b3b3b3;
$ter-color: #aa5791;
$quat-color: #ffdc07;
$quint-color: #eee;

body{
    background: $quint-color;
}


//Header Styling
h1{
    padding: .125em .25em;
    margin: auto;
}


//Video Player Styling
video{
    display: block;
    max-width: 100%;
    width: 100%;
}


//Footer Styling
footer{
    background: $quat-color;
    text-align: center;
    padding: .125em .25em;
}