$pri-color: gold;
$sec-color: black;
$ter-color: darkGray;
$quat-color: gray;
$quint-color: lightGray;


body{
    background: gold;
}

h1{
    text-transform: uppercase;
}

//Video Player Styling
video{
    display: block;
    max-width: 100%;
    width: 100%;
}