$pri-color: #000;
$sec-color: #aa5791;
$ter-color: #ffdc07;
$quat-color: #eee;

body{
    background-color: $quat-color;
}

//Header Styling
header{
    margin: auto;
    padding: 1em 0;
}

//Main Styling
main{
    padding: 0 1.5em;
}

//Video Player Styling
video{
    display: block;
    max-width: 100%;
    width: 100%;
}

//Facts Styling
#facts{ 
    margin-top: 1em;
    
    li{
        display: inline-block; 
        width: 30%;
    }
    
    li:nth-child(1){
        text-align: left;
    }
    
    li:nth-child(3){
        text-align: right;
    }
}

article{
    p{
        margin-top: 0;
    }
}

//Button Styling
@mixin pushme ($color){
    background-color: $color;
    width: 100%;
    margin-top: 1em;
    line-height: 3em;
}

.mobileOnly{
    @include pushme($ter-color);
}

aside{
    li{
        @include pushme($sec-color);
    }
    
    li:nth-child(1){
        background-color: $ter-color;
        display: none;
    }
}


//Footer Styling
footer{
    background: $pri-color;
    text-align: center;
    padding: .125em .25em;
    margin-top: 1.5em;
}