// Typography 
//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Bahiana|Cantarell:700');

// Font Variables
$bahiana: 'Bahiana', sans-serif;   
$cantarell: 'Cantarell', sans-serif;

//Styles
h1{
    font-family: $bahiana;
}
