// Typography 
//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Bahiana|Montserrat:300');

// Font Variables
$bahiana: 'Bahiana', cursive;   
$montserrat: 'Montserrat', sans-serif;

//Styles
h2{
    font-family: $montserrat;
    font-weight: bold;    
}

h1{
    font-family: $bahiana;
    font-size: 8em;
    color: $pri-color;
    text-transform: uppercase;
}

h2,
h1{
    text-align: center;
    margin: 0;
}

p, a{
    font-family: $montserrat;
}
